
    <%# esto es un comentario %>
    <form action="/datos" method="post">
        <p>Nombre de usuario: <input type="text" name="username"></p>
        <p>Contraseña: <input type="password" name="password"></p>
        <button type="submit">Enviar</button>
    </form>
