<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión de API polen</title>
</head>
<body>
    <h2>Inicia sesión en la API</h2>
    <form action="/api/admin/login" method="post">
        <p>Email de usuario: <input type="text" name="email" ></p>
        <p>Contraseña: <input type="password" name="password"></p>
        <button type="submit">Registrar</button>
        <br>
    </form>
</body>
</html>