<footer>
    <ul class="footer-list">
        <li>Sobre nosotros</li>
        <li>Contacto</li>
        <li>Política de privacidad</li>
        <li>Politica de cookies</li>
        <li>Trabaja con nosotros</li>
    </ul>
</footer>
</body>
</html>